<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="bg-zinc-900 min-h-screen text-white p-10">

        <form action="/edit/<%=id%>" method="post">
            <h1 class=" text-3xl tracking-tighter mb-5">Edit User</h1>
            <input type="text" name="name" id="" value="<%=name%>" placeholder="Enter your name" class="outline-none border-b border-b-zinc-500 w-60 py-3 ">
            <input type="email" name="email" id="" value="<%=email%>" placeholder="Enter you email" class="outline-none border-b border-b-zinc-500 w-60 py-3 ml-5">
            <input type="text" name="imageUrl" id="" value="<%=imageUrl%>"  placeholder="Enter your image url" class="outline-none border-b border-b-zinc-500 w-60 py-3 ml-5">
            <input type="submit" name="" id="" class="bg-yellow-600 rounded-xl  px-6 py-3 ml-5" value="Confirm Edit">
        </form>
    </div>
</body>
</html>