<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div class="p-10 w-full bg-zinc-900 min-h-screen text-white">
      <h1 class="text-4xl tracking-tighter mb-5">Profile Page</h1>
      <div class="w-full flex justify-center">
        <form class="" method="post" action="/profile/create-post">
          <h1 class="text-2xl">Create New Post:</h1>
          <textarea
            class="resize-none block outline-none border rounded-xl p-3 border-zinc-500 w-[500px] mt-3 py-3"
            name="content"
            id=""
            placeholder="Enter the content of your post"
          ></textarea>
          <div class="flex justify-end">
            <input
              type="submit"
              name=""
              id=""
              class="bg-blue-600 rounded-xl px-6 py-3 mt-3"
              value="Publish Post"
            />
          </div>
        </form>
      </div>
      <div class="">
        <div class="">
          <h1 class="text-2xl">Recent Posts:</h1>
        </div>
        <div class="w-full flex justify-center gap-3 flex-wrap mt-10">
            <% posts.forEach(function(post){%>
                <div class="w-[500px] flex flex-col justify-between rounded-xl border border-zinc-700 bg-zinc-800">
                    <div class="flex gap-4 p-4  border-b border-b-zinc-500">
                      <img
                        src="<%= user.imageUrl%>"
                        class="w-16 h-16 rounded-full object-cover"
                        alt=""
                      />
                      <div class="flex flex-col">
                        <h1 class="text-2xl text-blue-500">@<%= user.username %></h1>
                        <h1 class="text-gray-400 text-xs mt-2"><%=post.postedAt ? new Date(post.postedAt).toLocaleString() : "No date"%></h1>
                      </div>
                    </div>

                    <div class="p-4 ">
                        <h1><%= post.content %></h1>
                    </div>
                    <div class="flex p-4 text-blue-500 border-t border-t-zinc-500 justify-between">
                        <a class="hover:underline" href="/like">Like</a>
                        <a class="hover:underline" href="/comment"> Comment</a>
                        <a class="hover:underline" href="/share">Share</a>

                    </div>
                  </div>
            <% }) %>
          
        </div>
      </div>
    </div>
  </body>
</html>
