<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>
<body>
    <div class="p-10 w-full bg-zinc-900 min-h-screen text-white">
        <h1 class=" text-3xl tracking-tighter mb-5">Profile Page</h1>
    </div>
</body>
</html>